body{
    background: rgb(98, 167, 245);
    font: normal 15pt arial;
  
}

header{
    color: white;
    text-align: center
    

}

section{

    background: white;
    margin: auto;
    text-align: center;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(19, 2, 2, 0.335);




}